# Udacity - Fundamentos de Data Science II
---
### Módulo Data Wrangle

#### Suzana Barboza

# Projeto We Rate Dogs
---


Projeto com ênfase na prática do aprendizado de Data Wrangle. Feito na linguagem Python.
É feita a coleta de 3 base de dados distintas e a limpeza das mesmas. Após isso, é feita a junção dos dados de acordo com a lei dos dados arrumados.
Para a conclusão é feita visualizações da base de dados final


## 1. Gather

In [284]:
#importação de bibliotecas necessárias
import pandas as pd
import numpy as np
import requests
import tweepy
import json
from datetime import datetime as dt

### 1.1 CSV

Busca do dataframe na planilha fornecida pela Udacity

In [285]:
df_wrd = pd.read_csv('twitter-archive-enhanced.csv') #dataframe we rate dogs

### 1.2 TSV

Busca o arquivo na url fornecida pela Udacity e armazena em um dataframe

In [286]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
rows  = response.text.split('\n')
#deleta última linha em branco
del rows[len(rows)-1]
#separa as colunas de acordo com a tabulação
for i in range(len(rows)):
    rows[i] = rows[i].split('\t')
header = rows[0]
#deleta o header
del rows[0]
df_prediction = pd.DataFrame(np.array(rows), columns=header)

### 1.3 Twitter

Buscar informações de tweets do dataframe 'we rate dogs' através da API e armazena em um arquivo de texto nomeado 'tweet_json.txt'.

Após a coleta o armazenamento desse arquivo, ele é lido e armazenado em um dataframe

In [287]:
# Pretty Print JSON method
def pp_json(json_thing, sort=True, indents=4):
    if type(json_thing) is str:
        print(json.dumps(json.loads(json_thing), sort_keys=sort, indent=indents))
    else:
        print(json.dumps(json_thing, sort_keys=sort, indent=indents))
    return None

def default_json(o):
    if isinstance(o, np.int64): return int(o)  
    raise TypeError
    
#Função que faz a busca no twitter  das informações do dataframe provido pelo parâmetro df_wrd e cria o arquivo txt em formato json   
def getInfoFromTwitter(df_wrd, consumerkey, consumer_secret, access_token, access_token_secret):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    ids = df_wrd.tweet_id
    tweet_info = {}
    erros_count = 0
    print("Início: ", dt.now().time())
    for i in ids:    
        try:
            status = api.get_status(i) 
            tweet_info[i] = {'favorite_count': status.favorite_count, 'retweet_count':status.retweet_count }           
        except tweepy.TweepError as error:
            print("Erro.. ", error, " ", dt.now().time())        
            erros_count +=1        
    print("Total: ", len(ids))
    print("Erros: ", erros_count)
    print("Fim: ", dt.now().time())
    #write json
    with open('tweet_json.txt', 'w') as outfile:  
        json.dump(tweet_info, outfile, default=default_json)

In [288]:
#chama o método para criação do arquivo tweet_json.txt
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''
#getInfoFromTwitter(df_wrd, consumer_key, consumer_secret, access_token, access_token_secret)

In [289]:
#lê o arquivo tweet_json.txt e armazena em um dataframe
with open('tweet_json.txt') as file:
    twitter_data = json.load(file)
data = []
for key in twitter_data.keys():
    data.append([key, twitter_data[key]['favorite_count'], twitter_data[key]['retweet_count']])
header = ['twitter_id', 'favorite_count', 'retweet_count']
df_twitter = pd.DataFrame(np.array(data), columns=header)

## 2. Access

In [9]:
df_wrd.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
183,856543823941562368,NaN,NaN,2017-04-24 16:22:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Callie. She'll be your navigator today...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/856543823...,12,10,Callie,None,None,None,None
766,777684233540206592,NaN,NaN,2016-09-19 01:42:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Yep... just as I suspected. You're not flossi...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/777684233...,12,10,None,None,None,None,None
318,834574053763584002,NaN,NaN,2017-02-23 01:22:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a doggo fully pupared for a shower. H*c...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/834574053...,13,10,None,doggo,None,None,None
744,780192070812196864,NaN,NaN,2016-09-25 23:47:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. Pls stop sending in non-can...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/780192070...,11,10,None,None,None,None,None
1372,702217446468493312,NaN,NaN,2016-02-23 19:44:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I know it's tempting, but please stop sending ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/702217446...,9,10,None,None,None,None,None

In [10]:
df_wrd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
df_wrd.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [12]:
df_wrd[df_wrd.in_reply_to_status_id.notna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
149,863079547188785154,6.671522e+17,4.196984e+09,2017-05-12 17:12:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ladies and gentlemen... I found Pipsy. He may ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/863079547...,14,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
184,856526610513747968,8.558181e+17,4.196984e+09,2017-04-24 15:13:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...","THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/856526610...,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
251,844979544864018432,7.590995e+17,4.196984e+09,2017-03-23 18:29:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I'm proud to announce that Toby is 23...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/844979544...,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1501,692142790915014657,6.920419e+17,4.196984e+09,2016-01-27 00:31:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",These are some pictures of Teddy that further ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692142790...,13,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1630,684538444857667585,6.844811e+17,4.196984e+09,2016-01-06 00:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After watching this video, we've determined th...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684538444...,12,10,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1842,675870721063669760,6.757073e+17,4.196984e+09,2015-12-13 02:51:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",&amp; this is Yoshi. Another world record cont...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675870721...,11,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1852,675707330206547968,6.754971e+17,4.196984e+09,2015-12-12 16:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We've got ourselves a battle here. Watch out R...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675707330...,11,10,None,None,None,None,None
1866,675349384339542016,6.749998e+17,4.196984e+09,2015-12-11 16:20:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yea I lied. Here's more. All 13/10 https://t.c...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675349384...,13,10,None,None,None,None,None
1882,674999807681908736,6.747934e+17,4.196984e+09,2015-12-10 17:11:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ok last one of these. I may try to make some m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674999807...,13,10,None,None,None,None,None
1885,674793399141146624,6.717299e+17,4.196984e+09,2015-12-10 03:30:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I have found another. 13/10 https://t.co/HwroP...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674793399...,13,10,None,None,None,None,None
1892,674754018082705410,6.747522e+17,4.196984e+09,2015-12-10 00:54:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Just received another perfect photo of dogs an...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674754018...,12,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2036,671729906628341761,6.715610e+17,4.196984e+09,2015-12-01 16:37:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I'm just going to leave this one here as well....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671729906...,13,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

df_prediction.sample(10)

In [14]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null object
p1          2075 non-null object
p1_conf     2075 non-null object
p1_dog      2075 non-null object
p2          2075 non-null object
p2_conf     2075 non-null object
p2_dog      2075 non-null object
p3          2075 non-null object
p3_conf     2075 non-null object
p3_dog      2075 non-null object
dtypes: object(12)
memory usage: 194.6+ KB

In [15]:
df_prediction.describe()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
count,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075
unique,2075,2009,4,378,2006,2,405,2004,2,408,2006,2
top,882762694511734784,https://pbs.twimg.com/media/CdHwZd0VIAA4792.jpg,1,golden_retriever,0.796313,True,Labrador_retriever,0.0693617,True,Labrador_retriever,0.000917414,True
freq,1,2,1780,150,2,1532,104,3,1553,79,2,1499

#### 2.1 Problemas de Qualidade

##### 1º Iteração

##### Tabela We Rate Dogs

- As colunas in_reply_to_status_id,in_reply_to_user_id, retweeted_status, retweeted_status_user_id  são do tipo **float** e deveriam ser do tipo **int64** 
- As colunas timestamp, retweeted_status_timestamp são do tipo **object** e deveriam ser do tipo **datetime**
- As colunas rating_numerator e rating_denomitator possuem outliers significativos levando em conta o máximo, a média e o percentis.
- As colunas doggo, floofer, pupper, puppo deveriam ser do tipo **bool**


##### Tabela de Predição

- A coluna tweet_id é do tipo **object** e deveria ser do tipo **int64**
- A coluna img_num é do tipo **object** e deveria ser do tipo **int**
- As colunas p1_dog, p2_dog, p3_dog são do tipo **object** e deveriam ser do tipo **bool**
- As colunas p1_conf, p2_conf, p3_conf são do tipo **object** e deveriam ser do tipo **float**
- O formato das colunas p1, p2, p3 deveriam ser padronizados

#### 2.2 Problemas de Arrumação

##### Tabela We Rate Dogs

- O nome das colunas timestamp, retweeted_status_timestamp deveriam ser mais intuitivo

##### Tabela Predição
- O nome das colunas jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog deveria ser mais intuitivo

### 3. Clean

In [268]:
#Copy datasets df_wrd, df_prediction, df_twitter
df_wrd_copy = df_wrd.copy()
df_prediction_copy = df_prediction.copy()
df_twitter_copy = df_twitter.copy()

#### Definir

##### Tabela We Rate Dogs

- As colunas in_reply_to_status_id,in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id são do tipo **float** e deveriam ser do tipo **int64**
- As colunas timestamp, retweeted_status_timestamp são do tipo **object** e deveriam ser do tipo **datetime

##### Tabela de Predição

- A coluna tweet_id é do tipo **object** e deveria ser do tipo **int64**
- A coluna img_num é do tipo **object** e deveria ser do tipo **int**
- As colunas p1_dog, p2_dog, p3_dog são do tipo **object** e deveriam ser do tipo **bool**
- As colunas p1_conf, p2_conf, p3_conf são do tipo **object** e deveriam ser do tipo **float**


#### Programar

In [269]:
df_prediction_copy.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.0614285,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.07419169999999999,True,Rhodesian_ridgeback,0.07201,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.13858399999999998,True,bloodhound,0.11619700000000001,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [270]:
df_wrd_copy.in_reply_to_status_id = df_wrd_copy.in_reply_to_status_id.notna().astype('int64')
df_wrd_copy.in_reply_to_user_id = df_wrd_copy.in_reply_to_user_id.notna().astype('int64')
df_wrd_copy.retweeted_status_id = df_wrd_copy.retweeted_status_id.notna().astype('int64')
df_wrd_copy.retweeted_status_user_id  = df_wrd_copy.retweeted_status_user_id .notna().astype('int64')

df_wrd_copy.timestamp = pd.to_datetime(df_wrd_copy.timestamp, format='%Y-%m-%d %H:%M:%S')
df_wrd_copy.retweeted_status_timestamp = pd.to_datetime(df_wrd_copy.retweeted_status_timestamp, format='%Y-%m-%d %H:%M:%S')

df_prediction_copy.tweet_id = df_prediction_copy.tweet_id.astype('int64')
df_prediction_copy.img_num = df_prediction_copy.img_num.astype('int')

dict_bool = {'True': True, 'False': False}

df_prediction_copy.p1_dog = df_prediction_copy.p1_dog.map(dict_bool)
df_prediction_copy.p2_dog = df_prediction_copy.p2_dog.map(dict_bool)
df_prediction_copy.p3_dog = df_prediction_copy.p3_dog.map(dict_bool)

df_prediction_copy.p1_conf = df_prediction_copy.p1_conf.astype('float')
df_prediction_copy.p2_conf = df_prediction_copy.p2_conf.astype('float')
df_prediction_copy.p3_conf = df_prediction_copy.p3_conf.astype('float')

#### Testar

In [271]:
df_wrd_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         2356 non-null int64
in_reply_to_user_id           2356 non-null int64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           2356 non-null int64
retweeted_status_user_id      2356 non-null int64
retweeted_status_timestamp    181 non-null datetime64[ns]
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](2), int64(7), object(8)
memory usage: 313.0+ KB

In [272]:
df_prediction_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int32
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int32(1), int64(1), object(4)
memory usage: 144.0+ KB

#### Definir

- As colunas doggo, floofer, pupper, puppo deveriam ser do tipo **bool**

#### Programar

In [273]:
df_wrd_copy.doggo = df_wrd_copy.doggo.str.replace('doggo', 'True')
df_wrd_copy.doggo = df_wrd_copy.doggo.str.replace('None', 'False')
df_wrd_copy.doggo = df_wrd_copy.doggo.map(dict_bool)

df_wrd_copy.floofer = df_wrd_copy.floofer.str.replace('floofer', 'True')
df_wrd_copy.floofer = df_wrd_copy.floofer.str.replace('None', 'False')
df_wrd_copy.floofer = df_wrd_copy.floofer.map(dict_bool)

df_wrd_copy.pupper = df_wrd_copy.pupper.str.replace('pupper', 'True')
df_wrd_copy.pupper = df_wrd_copy.pupper.str.replace('None', 'False')
df_wrd_copy.pupper = df_wrd_copy.pupper.map(dict_bool)

df_wrd_copy.puppo = df_wrd_copy.puppo.str.replace('puppo', 'True')
df_wrd_copy.puppo = df_wrd_copy.puppo.str.replace('None', 'False')
df_wrd_copy.puppo = df_wrd_copy.puppo.map(dict_bool)

#### Testar

In [275]:
df_wrd_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         2356 non-null int64
in_reply_to_user_id           2356 non-null int64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           2356 non-null int64
retweeted_status_user_id      2356 non-null int64
retweeted_status_timestamp    181 non-null datetime64[ns]
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null bool
floofer                       2356 non-null bool
pupper                        2356 non-null bool
puppo                         2356 non-null bool
dtypes: bool(4), datetime64[ns](2), int64(7), object(4)
memory usage: 248.6+ KB

#### Definir

- As colunas rating_numerator e rating_denomitator possuem outliers significativos levando em conta o máximo, a média e o percentis.

#### Programar

In [152]:
#coluna rating_denominator deve ser 10, pela especificação
#coluna rating_numeretor possui 26 casos maior que 15
df_wrd_copy[df_wrd_copy.rating_numerator > 15].rating_numerator

55        17
188      420
189      666
290      182
313      960
340       75
433       84
516       24
695       75
763       27
902      165
979     1776
1120     204
1202      50
1228      99
1254      80
1274      45
1351      60
1433      44
1634     143
1635     121
1663      20
1712      26
1779     144
1843      88
2074     420
Name: rating_numerator, dtype: int64

In [154]:
df_wrd_copy = df_wrd_copy[df_wrd_copy.rating_numerator <= 15][df_wrd_copy.rating_denominator == 10]

#### Testar

In [155]:
df_wrd_copy.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.323000e+03,2323.000000,2323.000000,2323.000000,2323.000000,2323.000000,2323.0
mean,7.427125e+17,0.029703,0.029703,0.077056,0.077056,10.704262,10.0
std,6.860718e+16,0.169803,0.169803,0.266737,0.266737,2.176318,0.0
min,6.660209e+17,0.000000,0.000000,0.000000,0.000000,0.000000,10.0
25%,6.783378e+17,0.000000,0.000000,0.000000,0.000000,10.000000,10.0
50%,7.195514e+17,0.000000,0.000000,0.000000,0.000000,11.000000,10.0
75%,7.993029e+17,0.000000,0.000000,0.000000,0.000000,12.000000,10.0
max,8.924206e+17,1.000000,1.000000,1.000000,1.000000,15.000000,10.0

#### Definir

- O formato das colunas p1, p2, p3 deveriam ser padronizados

#### Programar

In [160]:
#Começar com letra maiúscula
#Separação com Espaço

df_prediction_copy.p1 = df_prediction_copy.p1.str.replace('-', ' ')
df_prediction_copy.p1 = df_prediction_copy.p1.str.replace('_', ' ')
df_prediction_copy.p1 = df_prediction_copy.p1.str.title()
df_prediction_copy.p2 = df_prediction_copy.p1.str.replace('-', ' ')
df_prediction_copy.p2 = df_prediction_copy.p1.str.replace('_', ' ')
df_prediction_copy.p2 = df_prediction_copy.p1.str.title() 
df_prediction_copy.p3 = df_prediction_copy.p1.str.replace('-', ' ')
df_prediction_copy.p3 = df_prediction_copy.p1.str.replace('_', ' ')
df_prediction_copy.p3 = df_prediction_copy.p1.str.title()

#### Testar

In [177]:
df_prediction_copy.p1.unique()

array(['Welsh Springer Spaniel', 'Redbone', 'German Shepherd',
       'Rhodesian Ridgeback', 'Miniature Pinscher',
       'Bernese Mountain Dog', 'Box Turtle', 'Chow', 'Shopping Cart',
       'Miniature Poodle', 'Golden Retriever', 'Gordon Setter',
       'Walker Hound', 'Pug', 'Bloodhound', 'Lhasa', 'English Setter',
       'Hen', 'Desktop Computer', 'Italian Greyhound', 'Maltese Dog',
       'Three Toed Sloth', 'Ox', 'Malamute', 'Guinea Pig',
       'Soft Coated Wheaten Terrier', 'Chihuahua',
       'Black And Tan Coonhound', 'Coho', 'Toy Terrier',
       'Blenheim Spaniel', 'Pembroke', 'Llama',
       'Chesapeake Bay Retriever', 'Curly Coated Retriever', 'Dalmatian',
       'Ibizan Hound', 'Border Collie', 'Labrador Retriever', 'Seat Belt',
       'Snail', 'Miniature Schnauzer', 'Airedale', 'Triceratops', 'Swab',
       'Hay', 'Hyena', 'Jigsaw Puzzle', 'West Highland White Terrier',
       'Toy Poodle', 'Giant Schnauzer', 'Vizsla', 'Vacuum', 'Rottweiler',
       'Siberian Husky', 'Teddy', 'Papillon', 'Saint Bernard',
       'Porcupine', 'Goose', 'Tibetan Terrier', 'Borzoi', 'Beagle',
       'Hare', 'Yorkshire Terrier', 'Pomeranian', 'Electric Fan',
       'Web Site', 'Ibex', 'Kuvasz', 'Fire Engine', 'Lorikeet',
       'Flat Coated Retriever', 'Toyshop', 'Common Iguana',
       'Norwegian Elkhound', 'Frilled Lizard', 'Leatherback Turtle',
       'Hamster', 'Angora', 'Arctic Fox', 'Trombone', 'Canoe',
       'King Penguin', 'Shopping Basket', 'Standard Poodle',
       'Staffordshire Bullterrier', 'Basenji', 'Lakeland Terrier',
       'American Staffordshire Terrier', 'Bearskin', 'Shih Tzu',
       'Bustard', 'Crash Helmet', 'French Bulldog', 'Pekinese',
       'Komondor', 'Ski Mask', 'Malinois', 'Kelpie', 'Brittany Spaniel',
       'Cocker Spaniel', 'Shower Curtain', 'Basset', 'Jellyfish',
       'Doormat', 'Arabian Camel', 'Lynx', 'Hog', 'Comic Book', 'Minivan',
       'Seashore', 'Cuirass', 'Brabancon Griffon', 'Candle', 'Eskimo Dog',
       'Weasel', 'Christmas Stocking', 'Washbasin', 'Car Mirror',
       'Piggy Bank', 'Pot', 'Boathouse', 'Mud Turtle',
       'German Short Haired Pointer', 'Shetland Sheepdog',
       'Irish Terrier', 'Cairn', 'Platypus', 'English Springer',
       'Whippet', 'Ping Pong Ball', 'Sea Urchin', 'Bow Tie',
       'Window Shade', "Jack O' Lantern", 'Sorrel', 'Sussex Spaniel',
       'Peacock', 'Axolotl', 'Wool', 'Banana', 'Dandie Dinmont',
       'Norwich Terrier', 'Wood Rabbit', 'Dhole', 'Keeshond',
       'Norfolk Terrier', 'Lacewing', 'Dingo', 'Brown Bear',
       'Old English Sheepdog', 'Scorpion', 'Flamingo', 'Microphone',
       'Samoyed', 'Pitcher', 'African Hunting Dog', 'Refrigerator',
       'Picket Fence', 'Tub', 'Zebra', 'Hermit Crab', 'Swing', 'Doberman',
       'Park Bench', 'Feather Boa', 'Loafer', 'Stone Wall', 'Ice Bear',
       'Prayer Rug', 'Chimpanzee', 'China Cabinet', 'Bee Eater',
       'Tennis Ball', 'Carton', 'Killer Whale', 'Ostrich', 'Terrapin',
       'Siamese Cat', 'Gondola', 'Great Pyrenees', 'Microwave',
       'Starfish', 'Sandbar', 'Tusker', 'Motor Scooter', 'Ram',
       'Leaf Beetle', 'Wombat', 'Schipperke', 'Newfoundland',
       'Bull Mastiff', 'Water Bottle', 'Suit', 'Toilet Seat', 'Collie',
       'Robin', 'Cardigan', 'Greater Swiss Mountain Dog', 'Slug',
       'Toilet Tissue', 'Acorn Squash', 'Soccer Ball',
       'African Crocodile', 'Tick', 'Ocarina', 'Boxer', 'Street Sign',
       'Bow', 'Stove', 'Paper Towel', 'Upright', 'Dough',
       'Scottish Deerhound', 'Bath Towel', 'Standard Schnauzer',
       'Walking Stick', 'Irish Water Spaniel', 'Bubble', 'Boston Bull',
       'Book Jacket', 'Rain Barrel', 'Black Footed Ferret', 'Guenon',
       'Japanese Spaniel', 'Water Buffalo', 'Patio', 'Cowboy Hat',
       'Dogsled', 'Maze', 'Harp', 'Panpipe', 'Cash Machine', 'Mailbox',
       'Wallaby', 'Entlebucher', 'Earthstar', 'Pillow', 'Bluetick',
       'Space Heater', 'Carousel', 'Irish Setter', 'Birdhouse', 'Snorkel',
       'Bald Eagle', 'Koala', 'Leonberg', 'Cheetah', 'Minibus',
       'Weimaraner', 'Clog', 'Dishwasher', 'White Wolf', 'Sliding Door',
       'Damselfly', 'Great Dane', 'Tibetan Mastiff', 'Cheeseburger',
       'Fiddler Crab', 'Bannister', 'Crane', 'Scotch Terrier',
       'Snowmobile', 'Badger', 'Bighorn', 'Geyser', 'Barrow', 'Bison',
       'Mexican Hairless', 'Ice Lolly', 'Sea Lion', 'Dining Table',
       'Groenendael', 'Australian Terrier', 'Beaver', 'Briard',
       'Appenzeller', 'Grey Fox', 'Mousetrap', 'Hippopotamus',
       'Border Terrier', 'Hummingbird', 'Tailed Frog', 'Otter',
       'Egyptian Cat', 'Four Poster', 'Wild Boar', 'Bathtub', 'Agama',
       'Muzzle', 'Hotdog', 'Bib', 'Espresso', 'Timber Wolf', 'Meerkat',
       'Nail', 'Hammer', 'Home Theater', 'Alp', 'Bonnet', 'Handkerchief',
       'Hand Blower', 'Polecat', 'Lakeside', 'Studio Couch', 'Cup',
       'Cliff', 'Bedlington Terrier', 'Lawn Mower', 'Balloon',
       'Sunglasses', 'Rapeseed', 'Traffic Light', 'Coil', 'Binoculars',
       'Paddle', 'Tiger Shark', 'Sulphur Crested Cockatoo',
       'Wire Haired Fox Terrier', 'Saluki', 'American Black Bear',
       'Rotisserie', 'Conch', 'Skunk', 'Bookshop', 'Radio Telescope',
       'Cougar', 'African Grey', 'Coral Reef', 'Lion', 'Maillot',
       'Madagascar Cat', 'Tabby', 'Silky Terrier', 'Giant Panda',
       'Long Horned Beetle', 'Afghan Hound', 'Clumber', 'Sundial',
       'Padlock', 'Pool Table', 'Quilt', 'Beach Wagon', 'Remote Control',
       'Bakery', 'Pedestal', 'Gas Pump', 'Bookcase', 'Shield', 'Loupe',
       'Restaurant', 'Prison', 'School Bus', 'Cowboy Boot', 'Jersey',
       'Wooden Spoon', 'Leopard', 'Mortarboard', 'Teapot',
       'Military Uniform', 'Washer', 'Coffee Mug', 'Fountain',
       'Pencil Box', 'Barbell', 'Grille', 'Revolver', 'Envelope',
       'Syringe', 'Marmot', 'Pole', 'Laptop', 'Basketball', 'Tricycle',
       'Convertible', 'Limousine', 'Orange'], dtype=object)

#### Definir

- O nome das colunas timestamp, retweeted_status_timestamp deveriam ser mais intuitivo

#### Programar

In [276]:
df_wrd_copy.rename(columns={'timestamp': 'created_at', 'retweeted_status_timestamp': 'retweeted_at'}, inplace=True)

#### Testar

In [277]:
df_wrd_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,created_at,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_at,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,0,0,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0,0,NaT,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,False,False,False,False
1,892177421306343426,0,0,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,0,0,NaT,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,False,False,False,False
2,891815181378084864,0,0,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,0,0,NaT,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,False,False,False,False
3,891689557279858688,0,0,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,0,0,NaT,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,False,False,False,False
4,891327558926688256,0,0,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,0,0,NaT,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,False,False,False,False

#### Definir

- O nome das colunas jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog deveria ser mais intuitivo

#### Programar

In [279]:
df_prediction_copy.rename(columns={'jpg_url': 'image_url', 'img_num': 'image_count', 
                                   'p1': 'first_prediction', 'p1_conf': 'first_confidence', 'p1_dog': 'first_isdog',
                                   'p2': 'second_prediction', 'p2_conf': 'second_confidence', 'p2_dog': 'second_isdog',
                                   'p3': 'third_prediction', 'p3_conf': 'third_confidence', 'p3_dog': 'third_isdog'
                                  }, inplace=True)

#### Testar

In [280]:
df_prediction_copy.head()

,tweet_id,image_url,image_count,first_prediction,first_confidence,first_isdog,second_prediction,second_confidence,second_isdog,third_prediction,third_confidence,third_isdog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True