# Udacity - Fundamentos de Data Science II
---
### Módulo Data Wrangle

#### Suzana Barboza

# Projeto We Rate Dogs
---


Projeto com ênfase na prática do aprendizado de Data Wrangle. Feito na linguagem Python.
É feita a coleta de 3 base de dados distintas e a limpeza das mesmas. Após isso, é feita a junção dos dados de acordo com a lei dos dados arrumados.
Para a conclusão é feita visualizações da base de dados final


## 1. Gather

In [423]:
#importação de bibliotecas necessárias
import pandas as pd
import numpy as np
import requests
import tweepy
import json
from datetime import datetime as dt

### 1.1 CSV

Busca do dataframe na planilha fornecida pela Udacity

In [424]:
df_wrd = pd.read_csv('twitter-archive-enhanced.csv') #dataframe we rate dogs

### 1.2 TSV

Busca o arquivo na url fornecida pela Udacity e armazena em um dataframe

In [425]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
rows  = response.text.split('\n')
#deleta última linha em branco
del rows[len(rows)-1]
#separa as colunas de acordo com a tabulação
for i in range(len(rows)):
    rows[i] = rows[i].split('\t')
header = rows[0]
#deleta o header
del rows[0]
df_prediction = pd.DataFrame(np.array(rows), columns=header)

### 1.3 Twitter

Buscar informações de tweets do dataframe 'we rate dogs' através da API e armazena em um arquivo de texto nomeado 'tweet_json.txt'.

Após a coleta o armazenamento desse arquivo, ele é lido e armazenado em um dataframe

In [426]:
# Pretty Print JSON method
def pp_json(json_thing, sort=True, indents=4):
    if type(json_thing) is str:
        print(json.dumps(json.loads(json_thing), sort_keys=sort, indent=indents))
    else:
        print(json.dumps(json_thing, sort_keys=sort, indent=indents))
    return None

def default_json(o):
    if isinstance(o, np.int64): return int(o)  
    raise TypeError
    
#Função que faz a busca no twitter  das informações do dataframe provido pelo parâmetro df_wrd e cria o arquivo txt em formato json   
def getInfoFromTwitter(df_wrd, consumerkey, consumer_secret, access_token, access_token_secret):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)
    ids = df_wrd.tweet_id
    tweet_info = {}
    erros_count = 0
    print("Início: ", dt.now().time())
    for i in ids:    
        try:
            status = api.get_status(i) 
            tweet_info[i] = {'favorite_count': status.favorite_count, 'retweet_count':status.retweet_count }           
        except tweepy.TweepError as error:
            print("Erro.. ", error, " ", dt.now().time())        
            erros_count +=1        
    print("Total: ", len(ids))
    print("Erros: ", erros_count)
    print("Fim: ", dt.now().time())
    #write json
    with open('tweet_json.txt', 'w') as outfile:  
        json.dump(tweet_info, outfile, default=default_json)

In [427]:
#chama o método para criação do arquivo tweet_json.txt
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''
#getInfoFromTwitter(df_wrd, consumer_key, consumer_secret, access_token, access_token_secret)

In [428]:
#lê o arquivo tweet_json.txt e armazena em um dataframe
with open('tweet_json.txt') as file:
    twitter_data = json.load(file)
data = []
for key in twitter_data.keys():
    data.append([key, twitter_data[key]['favorite_count'], twitter_data[key]['retweet_count']])
header = ['tweet_id', 'favorite_count', 'retweet_count']
df_twitter = pd.DataFrame(np.array(data), columns=header)

## 2. Access

Item destinado ao entendimento dos dataframes para identificação de problemas

In [429]:
df_wrd.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1483,693262851218264065,NaN,NaN,2016-01-30 02:41:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I hope you guys enjoy this beautiful snowy pup...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/693262851...,11,10,None,None,None,pupper,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
366,828801551087042563,NaN,NaN,2017-02-07 03:04:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Gus. He likes to be clo...,8.102541e+17,4.196984e+09,2016-12-17 22:43:27 +0000,https://twitter.com/dog_rates/status/810254108...,12,10,Gus,None,None,None,None
2145,669926384437997569,NaN,NaN,2015-11-26 17:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've never seen a dog so genuinely happy about...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669926384...,12,10,None,None,None,None,None
1922,674255168825880576,NaN,NaN,2015-12-08 15:52:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Bobbay. He's a marshmallow wizard...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674255168...,10,10,Bobbay,None,None,None,None

In [430]:
df_wrd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [431]:
df_wrd.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [432]:
df_wrd[df_wrd.in_reply_to_status_id.notna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
149,863079547188785154,6.671522e+17,4.196984e+09,2017-05-12 17:12:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ladies and gentlemen... I found Pipsy. He may ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/863079547...,14,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
184,856526610513747968,8.558181e+17,4.196984e+09,2017-04-24 15:13:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...","THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/856526610...,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
251,844979544864018432,7.590995e+17,4.196984e+09,2017-03-23 18:29:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I'm proud to announce that Toby is 23...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/844979544...,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
565,802265048156610565,7.331095e+17,4.196984e+09,2016-11-25 21:37:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/802265048...,11,10,None,doggo,None,pupper,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1501,692142790915014657,6.920419e+17,4.196984e+09,2016-01-27 00:31:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",These are some pictures of Teddy that further ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/692142790...,13,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1630,684538444857667585,6.844811e+17,4.196984e+09,2016-01-06 00:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After watching this video, we've determined th...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684538444...,12,10,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1842,675870721063669760,6.757073e+17,4.196984e+09,2015-12-13 02:51:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",&amp; this is Yoshi. Another world record cont...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675870721...,11,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1852,675707330206547968,6.754971e+17,4.196984e+09,2015-12-12 16:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We've got ourselves a battle here. Watch out R...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675707330...,11,10,None,None,None,None,None
1866,675349384339542016,6.749998e+17,4.196984e+09,2015-12-11 16:20:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yea I lied. Here's more. All 13/10 https://t.c...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675349384...,13,10,None,None,None,None,None
1882,674999807681908736,6.747934e+17,4.196984e+09,2015-12-10 17:11:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Ok last one of these. I may try to make some m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674999807...,13,10,None,None,None,None,None
1885,674793399141146624,6.717299e+17,4.196984e+09,2015-12-10 03:30:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I have found another. 13/10 https://t.co/HwroP...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674793399...,13,10,None,None,None,None,None
1892,674754018082705410,6.747522e+17,4.196984e+09,2015-12-10 00:54:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Just received another perfect photo of dogs an...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/674754018...,12,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2036,671729906628341761,6.715610e+17,4.196984e+09,2015-12-01 16:37:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I'm just going to leave this one here as well....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/671729906...,13,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

df_prediction.sample(10)

In [433]:
df_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null object
p1          2075 non-null object
p1_conf     2075 non-null object
p1_dog      2075 non-null object
p2          2075 non-null object
p2_conf     2075 non-null object
p2_dog      2075 non-null object
p3          2075 non-null object
p3_conf     2075 non-null object
p3_dog      2075 non-null object
dtypes: object(12)
memory usage: 194.6+ KB

In [434]:
df_prediction.describe()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
count,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075,2075
unique,2075,2009,4,378,2006,2,405,2004,2,408,2006,2
top,882762694511734784,https://pbs.twimg.com/media/CdHwZd0VIAA4792.jpg,1,golden_retriever,0.796313,True,Labrador_retriever,0.0693617,True,Labrador_retriever,0.000917414,True
freq,1,2,1780,150,2,1532,104,3,1553,79,2,1499

In [535]:
df_twitter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null object
favorite_count    2340 non-null object
retweet_count     2340 non-null object
dtypes: object(3)
memory usage: 54.9+ KB

### 2.1 Problemas de Qualidade

##### Tabela We Rate Dogs

- O dataframe deve conter apenas tweets que não são retweets
- As colunas in_reply_to_status_id,in_reply_to_user_id, retweeted_status, retweeted_status_user_id  são do tipo **float** e deveriam ser do tipo **int64** 
- As colunas timestamp, retweeted_status_timestamp são do tipo **object** e deveriam ser do tipo **datetime**
- As colunas rating_numerator e rating_denomitator possuem outliers significativos levando em conta o máximo, a média e o percentis.
- As colunas doggo, floofer, pupper, puppo deveriam ser do tipo **bool**
- A coluna rating_denominator deve ser 10, pela especificação fornecida pela Udacity
- A coluna tweet_id deve conter apenas valores únicos


##### Tabela de Predição

- A coluna tweet_id é do tipo **object** e deveria ser do tipo **int64**
- A coluna img_num é do tipo **object** e deveria ser do tipo **int**
- As colunas p1_dog, p2_dog, p3_dog são do tipo **object** e deveriam ser do tipo **bool**
- As colunas p1_conf, p2_conf, p3_conf são do tipo **object** e deveriam ser do tipo **float**
- O formato das colunas p1, p2, p3 deveriam ser padronizados

##### Tabela Twitter

- As colunas tweet_id, favorite_count, retweet_count são do tipo **object** e deveriam ser do tipo **int64

### 2.2 Problemas de Arrumação

##### Tabela We Rate Dogs

- O nome das colunas timestamp, retweeted_status_timestamp deveriam ser mais intuitivo

##### Tabela Predição
- O nome das colunas jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog deveria ser mais intuitivo

## 3. Clean

Item destinado a limpeza dos dataframes em relação aos problemas identificados

In [829]:
#Copy datasets df_wrd, df_prediction, df_twitter
df_wrd_copy = df_wrd.copy()
df_prediction_copy = df_prediction.copy()
df_twitter_copy = df_twitter.copy()

df_wrd_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

#### Definir

- O dataframe deve conter apenas tweets com imagens e que não são retweets

#### Programar

In [830]:
df_wrd_copy = df_wrd_copy[df_wrd_copy.in_reply_to_status_id.isna()][df_wrd_copy.in_reply_to_user_id.isna()]

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

#### Testar

In [831]:
df_wrd_copy[df_wrd_copy.in_reply_to_status_id.notna()].shape

(0, 17)

In [832]:
df_wrd_copy[df_wrd_copy.in_reply_to_user_id.notna()].shape

(0, 17)

#### Definir

- As colunas rating_numerator e rating_denomitator possuem outliers significativos levando em conta o máximo, a média e o percentis.

#### Programar

In [833]:
#coluna rating_numeretor possui 26 casos maior que 15
df_wrd_copy[df_wrd_copy.rating_numerator > 15].rating_numerator

340       75
433       84
516       24
695       75
763       27
902      165
979     1776
1120     204
1202      50
1228      99
1254      80
1274      45
1351      60
1433      44
1635     121
1712      26
1779     144
1843      88
2074     420
Name: rating_numerator, dtype: int64

In [834]:
df_wrd_copy = df_wrd_copy[df_wrd_copy.rating_numerator <= 15]

#### Testar

In [835]:
df_wrd_copy.rating_numerator.describe()

count    2259.000000
mean       10.684816
std         2.151440
min         0.000000
25%        10.000000
50%        11.000000
75%        12.000000
max        15.000000
Name: rating_numerator, dtype: float64

#### Definir

- A coluna rating_denominator deve ser 10, pela especificação fornecida pela Udacity

#### Programar

In [836]:
df_wrd_copy[df_wrd_copy.rating_denominator != 10] = 10

#### Testar

In [837]:
df_wrd_copy.rating_denominator.unique()

array([10], dtype=int64)

#### Definir

- O formato das colunas p1, p2, p3 deveriam ser padronizados

#### Programar

In [838]:
#Começar com letra maiúscula
#Separação com Espaço

df_prediction_copy.p1 = df_prediction_copy.p1.str.replace('-', ' ')
df_prediction_copy.p1 = df_prediction_copy.p1.str.replace('_', ' ')
df_prediction_copy.p1 = df_prediction_copy.p1.str.title()
df_prediction_copy.p2 = df_prediction_copy.p1.str.replace('-', ' ')
df_prediction_copy.p2 = df_prediction_copy.p1.str.replace('_', ' ')
df_prediction_copy.p2 = df_prediction_copy.p1.str.title() 
df_prediction_copy.p3 = df_prediction_copy.p1.str.replace('-', ' ')
df_prediction_copy.p3 = df_prediction_copy.p1.str.replace('_', ' ')
df_prediction_copy.p3 = df_prediction_copy.p1.str.title()

#### Testar

In [839]:
df_prediction_copy.p1.unique()

array(['Welsh Springer Spaniel', 'Redbone', 'German Shepherd',
       'Rhodesian Ridgeback', 'Miniature Pinscher',
       'Bernese Mountain Dog', 'Box Turtle', 'Chow', 'Shopping Cart',
       'Miniature Poodle', 'Golden Retriever', 'Gordon Setter',
       'Walker Hound', 'Pug', 'Bloodhound', 'Lhasa', 'English Setter',
       'Hen', 'Desktop Computer', 'Italian Greyhound', 'Maltese Dog',
       'Three Toed Sloth', 'Ox', 'Malamute', 'Guinea Pig',
       'Soft Coated Wheaten Terrier', 'Chihuahua',
       'Black And Tan Coonhound', 'Coho', 'Toy Terrier',
       'Blenheim Spaniel', 'Pembroke', 'Llama',
       'Chesapeake Bay Retriever', 'Curly Coated Retriever', 'Dalmatian',
       'Ibizan Hound', 'Border Collie', 'Labrador Retriever', 'Seat Belt',
       'Snail', 'Miniature Schnauzer', 'Airedale', 'Triceratops', 'Swab',
       'Hay', 'Hyena', 'Jigsaw Puzzle', 'West Highland White Terrier',
       'Toy Poodle', 'Giant Schnauzer', 'Vizsla', 'Vacuum', 'Rottweiler',
       'Siberian Husky', 'Teddy', 'Papillon', 'Saint Bernard',
       'Porcupine', 'Goose', 'Tibetan Terrier', 'Borzoi', 'Beagle',
       'Hare', 'Yorkshire Terrier', 'Pomeranian', 'Electric Fan',
       'Web Site', 'Ibex', 'Kuvasz', 'Fire Engine', 'Lorikeet',
       'Flat Coated Retriever', 'Toyshop', 'Common Iguana',
       'Norwegian Elkhound', 'Frilled Lizard', 'Leatherback Turtle',
       'Hamster', 'Angora', 'Arctic Fox', 'Trombone', 'Canoe',
       'King Penguin', 'Shopping Basket', 'Standard Poodle',
       'Staffordshire Bullterrier', 'Basenji', 'Lakeland Terrier',
       'American Staffordshire Terrier', 'Bearskin', 'Shih Tzu',
       'Bustard', 'Crash Helmet', 'French Bulldog', 'Pekinese',
       'Komondor', 'Ski Mask', 'Malinois', 'Kelpie', 'Brittany Spaniel',
       'Cocker Spaniel', 'Shower Curtain', 'Basset', 'Jellyfish',
       'Doormat', 'Arabian Camel', 'Lynx', 'Hog', 'Comic Book', 'Minivan',
       'Seashore', 'Cuirass', 'Brabancon Griffon', 'Candle', 'Eskimo Dog',
       'Weasel', 'Christmas Stocking', 'Washbasin', 'Car Mirror',
       'Piggy Bank', 'Pot', 'Boathouse', 'Mud Turtle',
       'German Short Haired Pointer', 'Shetland Sheepdog',
       'Irish Terrier', 'Cairn', 'Platypus', 'English Springer',
       'Whippet', 'Ping Pong Ball', 'Sea Urchin', 'Bow Tie',
       'Window Shade', "Jack O' Lantern", 'Sorrel', 'Sussex Spaniel',
       'Peacock', 'Axolotl', 'Wool', 'Banana', 'Dandie Dinmont',
       'Norwich Terrier', 'Wood Rabbit', 'Dhole', 'Keeshond',
       'Norfolk Terrier', 'Lacewing', 'Dingo', 'Brown Bear',
       'Old English Sheepdog', 'Scorpion', 'Flamingo', 'Microphone',
       'Samoyed', 'Pitcher', 'African Hunting Dog', 'Refrigerator',
       'Picket Fence', 'Tub', 'Zebra', 'Hermit Crab', 'Swing', 'Doberman',
       'Park Bench', 'Feather Boa', 'Loafer', 'Stone Wall', 'Ice Bear',
       'Prayer Rug', 'Chimpanzee', 'China Cabinet', 'Bee Eater',
       'Tennis Ball', 'Carton', 'Killer Whale', 'Ostrich', 'Terrapin',
       'Siamese Cat', 'Gondola', 'Great Pyrenees', 'Microwave',
       'Starfish', 'Sandbar', 'Tusker', 'Motor Scooter', 'Ram',
       'Leaf Beetle', 'Wombat', 'Schipperke', 'Newfoundland',
       'Bull Mastiff', 'Water Bottle', 'Suit', 'Toilet Seat', 'Collie',
       'Robin', 'Cardigan', 'Greater Swiss Mountain Dog', 'Slug',
       'Toilet Tissue', 'Acorn Squash', 'Soccer Ball',
       'African Crocodile', 'Tick', 'Ocarina', 'Boxer', 'Street Sign',
       'Bow', 'Stove', 'Paper Towel', 'Upright', 'Dough',
       'Scottish Deerhound', 'Bath Towel', 'Standard Schnauzer',
       'Walking Stick', 'Irish Water Spaniel', 'Bubble', 'Boston Bull',
       'Book Jacket', 'Rain Barrel', 'Black Footed Ferret', 'Guenon',
       'Japanese Spaniel', 'Water Buffalo', 'Patio', 'Cowboy Hat',
       'Dogsled', 'Maze', 'Harp', 'Panpipe', 'Cash Machine', 'Mailbox',
       'Wallaby', 'Entlebucher', 'Earthstar', 'Pillow', 'Bluetick',
       'Space Heater', 'Carousel', 'Irish Setter', 'Birdhouse', 'Snorkel',
       'Bald Eagle', 'Koala', 'Leonberg', 'Cheetah', 'Minibus',
       'Weimaraner', 'Clog', 'Dishwasher', 'White Wolf', 'Sliding Door',
       'Damselfly', 'Great Dane', 'Tibetan Mastiff', 'Cheeseburger',
       'Fiddler Crab', 'Bannister', 'Crane', 'Scotch Terrier',
       'Snowmobile', 'Badger', 'Bighorn', 'Geyser', 'Barrow', 'Bison',
       'Mexican Hairless', 'Ice Lolly', 'Sea Lion', 'Dining Table',
       'Groenendael', 'Australian Terrier', 'Beaver', 'Briard',
       'Appenzeller', 'Grey Fox', 'Mousetrap', 'Hippopotamus',
       'Border Terrier', 'Hummingbird', 'Tailed Frog', 'Otter',
       'Egyptian Cat', 'Four Poster', 'Wild Boar', 'Bathtub', 'Agama',
       'Muzzle', 'Hotdog', 'Bib', 'Espresso', 'Timber Wolf', 'Meerkat',
       'Nail', 'Hammer', 'Home Theater', 'Alp', 'Bonnet', 'Handkerchief',
       'Hand Blower', 'Polecat', 'Lakeside', 'Studio Couch', 'Cup',
       'Cliff', 'Bedlington Terrier', 'Lawn Mower', 'Balloon',
       'Sunglasses', 'Rapeseed', 'Traffic Light', 'Coil', 'Binoculars',
       'Paddle', 'Tiger Shark', 'Sulphur Crested Cockatoo',
       'Wire Haired Fox Terrier', 'Saluki', 'American Black Bear',
       'Rotisserie', 'Conch', 'Skunk', 'Bookshop', 'Radio Telescope',
       'Cougar', 'African Grey', 'Coral Reef', 'Lion', 'Maillot',
       'Madagascar Cat', 'Tabby', 'Silky Terrier', 'Giant Panda',
       'Long Horned Beetle', 'Afghan Hound', 'Clumber', 'Sundial',
       'Padlock', 'Pool Table', 'Quilt', 'Beach Wagon', 'Remote Control',
       'Bakery', 'Pedestal', 'Gas Pump', 'Bookcase', 'Shield', 'Loupe',
       'Restaurant', 'Prison', 'School Bus', 'Cowboy Boot', 'Jersey',
       'Wooden Spoon', 'Leopard', 'Mortarboard', 'Teapot',
       'Military Uniform', 'Washer', 'Coffee Mug', 'Fountain',
       'Pencil Box', 'Barbell', 'Grille', 'Revolver', 'Envelope',
       'Syringe', 'Marmot', 'Pole', 'Laptop', 'Basketball', 'Tricycle',
       'Convertible', 'Limousine', 'Orange'], dtype=object)

#### Definir

- O nome das colunas timestamp, retweeted_status_timestamp deveriam ser mais intuitivo

#### Programar

In [840]:
df_wrd_copy.rename(columns={'timestamp': 'created_at', 'retweeted_status_timestamp': 'retweeted_at'}, inplace=True)

#### Testar

In [841]:
df_wrd_copy.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id',
       'created_at', 'source', 'text', 'retweeted_status_id',
       'retweeted_status_user_id', 'retweeted_at', 'expanded_urls',
       'rating_numerator', 'rating_denominator', 'name', 'doggo', 'floofer',
       'pupper', 'puppo'],
      dtype='object')

#### Definir

- O nome das colunas jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog deveria ser mais intuitivo

#### Programar

In [842]:
df_prediction_copy.rename(columns={'jpg_url': 'image_url', 'img_num': 'image_count', 
                                   'p1': 'first_prediction', 'p1_conf': 'first_confidence', 'p1_dog': 'first_isdog',
                                   'p2': 'second_prediction', 'p2_conf': 'second_confidence', 'p2_dog': 'second_isdog',
                                   'p3': 'third_prediction', 'p3_conf': 'third_confidence', 'p3_dog': 'third_isdog'
                                  }, inplace=True)

#### Testar

In [843]:
df_prediction_copy.columns

Index(['tweet_id', 'image_url', 'image_count', 'first_prediction',
       'first_confidence', 'first_isdog', 'second_prediction',
       'second_confidence', 'second_isdog', 'third_prediction',
       'third_confidence', 'third_isdog'],
      dtype='object')

#### Definir

- A coluna tweet_id deve conter apenas valores únicos

#### Programar

In [844]:
df_wrd_copy.drop_duplicates(inplace=True)

#### Testar

In [845]:
print("{0} | {1}".format(df_wrd_copy.shape[0], len(df_wrd_copy.tweet_id.unique())))

2255 | 2255

#### Definir

##### Tabela We Rate Dogs

- As colunas in_reply_to_status_id,in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id são do tipo **float** e deveriam ser do tipo **int64**
- As colunas timestamp, retweeted_status_timestamp são do tipo **object** e deveriam ser do tipo **datetime**

##### Tabela de Predição

- A coluna tweet_id é do tipo **object** e deveria ser do tipo **int64**
- A coluna img_num é do tipo **object** e deveria ser do tipo **int**
- As colunas p1_dog, p2_dog, p3_dog são do tipo **object** e deveriam ser do tipo **bool**
- As colunas p1_conf, p2_conf, p3_conf são do tipo **object** e deveriam ser do tipo **float**


#### Programar

In [846]:
df_wrd_copy.in_reply_to_status_id = df_wrd_copy.in_reply_to_status_id.notna().astype('int64')
df_wrd_copy.in_reply_to_user_id = df_wrd_copy.in_reply_to_user_id.notna().astype('int64')
df_wrd_copy.retweeted_status_id = df_wrd_copy.retweeted_status_id.notna().astype('int64')
df_wrd_copy.retweeted_status_user_id  = df_wrd_copy.retweeted_status_user_id .notna().astype('int64')

df_wrd_copy.created_at = pd.to_datetime(df_wrd_copy.created_at, format='%Y-%m-%d %H:%M:%S')
df_wrd_copy.retweeted_at = pd.to_datetime(df_wrd_copy.retweeted_at, format='%Y-%m-%d %H:%M:%S')

df_prediction_copy.tweet_id = df_prediction_copy.tweet_id.astype('int64')
df_prediction_copy.image_count = df_prediction_copy.image_count.astype('int')

dict_bool = {'True': True, 'False': False}
df_prediction_copy.first_prediction = df_prediction_copy.first_prediction.map(dict_bool)
df_prediction_copy.second_prediction = df_prediction_copy.second_prediction.map(dict_bool)
df_prediction_copy.third_prediction = df_prediction_copy.third_prediction.map(dict_bool)

df_prediction_copy.first_confidence = df_prediction_copy.first_confidence.astype('float')
df_prediction_copy.second_confidence = df_prediction_copy.second_confidence.astype('float')
df_prediction_copy.third_confidence = df_prediction_copy.third_confidence.astype('float')

df_twitter_copy.tweet_id = df_twitter_copy.tweet_id.astype('int64')
df_twitter_copy.retweet_count = df_twitter_copy.retweet_count.astype('int64')
df_twitter_copy.favorite_count = df_twitter_copy.favorite_count.astype('int64')

#### Testar

In [847]:
df_wrd_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2255 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                    2255 non-null int64
in_reply_to_status_id       2255 non-null int64
in_reply_to_user_id         2255 non-null int64
created_at                  2255 non-null datetime64[ns]
source                      2255 non-null object
text                        2255 non-null object
retweeted_status_id         2255 non-null int64
retweeted_status_user_id    2255 non-null int64
retweeted_at                180 non-null datetime64[ns]
expanded_urls               2251 non-null object
rating_numerator            2255 non-null int64
rating_denominator          2255 non-null int64
name                        2255 non-null object
doggo                       2255 non-null object
floofer                     2255 non-null object
pupper                      2255 non-null object
puppo                       2255 non-null object
dtypes: datetime64[ns](2), int64(7), object(8)
memory usage: 317.1+ KB

In [857]:
df_prediction_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2030 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id             2030 non-null int64
image_url            2030 non-null object
image_count          2030 non-null int32
first_prediction     0 non-null object
first_confidence     2030 non-null float64
first_isdog          2030 non-null object
second_prediction    0 non-null object
second_confidence    2030 non-null float64
second_isdog         2030 non-null object
third_prediction     0 non-null object
third_confidence     2030 non-null float64
third_isdog          2030 non-null object
dtypes: float64(3), int32(1), int64(1), object(7)
memory usage: 198.2+ KB

,tweet_id,image_url,image_count,first_prediction,first_confidence,first_isdog,second_prediction,second_confidence,second_isdog,third_prediction,third_confidence,third_isdog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,NaN,0.465074,True,NaN,0.156665,True,NaN,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,NaN,0.506826,True,NaN,0.074192,True,NaN,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,NaN,0.596461,True,NaN,0.138584,True,NaN,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,NaN,0.408143,True,NaN,0.360687,True,NaN,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,NaN,0.560311,True,NaN,0.243682,True,NaN,0.154629,True

In [849]:
df_twitter_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2340 entries, 0 to 2339
Data columns (total 3 columns):
tweet_id          2340 non-null int64
favorite_count    2340 non-null int64
retweet_count     2340 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

#### Definir

- As colunas doggo, floofer, pupper, puppo deveriam ser do tipo **bool**

#### Programar

In [850]:
dict_bool = {'True': True, 'False': False}

df_wrd_copy.doggo = df_wrd_copy.doggo.str.replace('doggo', 'True')
df_wrd_copy.doggo = df_wrd_copy.doggo.str.replace('None', 'False')
df_wrd_copy.doggo = df_wrd_copy.doggo.map(dict_bool).astype('bool')

df_wrd_copy.floofer = df_wrd_copy.floofer.str.replace('floofer', 'True')
df_wrd_copy.floofer = df_wrd_copy.floofer.str.replace('None', 'False')
df_wrd_copy.floofer = df_wrd_copy.floofer.map(dict_bool).astype('bool')


df_wrd_copy.pupper = df_wrd_copy.pupper.str.replace('pupper', 'True')
df_wrd_copy.pupper = df_wrd_copy.pupper.str.replace('None', 'False')
df_wrd_copy.pupper = df_wrd_copy.pupper.map(dict_bool).astype('bool')


df_wrd_copy.puppo = df_wrd_copy.puppo.str.replace('puppo', 'True')
df_wrd_copy.puppo = df_wrd_copy.puppo.str.replace('None', 'False')
df_wrd_copy.puppo = df_wrd_copy.puppo.map(dict_bool).astype('bool')

In [851]:
df_wrd_copy.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,created_at,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_at,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,0,0,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,0,0,NaT,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,False,False,False,False
1,892177421306343426,0,0,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,0,0,NaT,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,False,False,False,False
2,891815181378084864,0,0,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,0,0,NaT,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,False,False,False,False
3,891689557279858688,0,0,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,0,0,NaT,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,False,False,False,False
4,891327558926688256,0,0,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,0,0,NaT,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,False,False,False,False

#### Testar

In [852]:
df_wrd_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2255 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                    2255 non-null int64
in_reply_to_status_id       2255 non-null int64
in_reply_to_user_id         2255 non-null int64
created_at                  2255 non-null datetime64[ns]
source                      2255 non-null object
text                        2255 non-null object
retweeted_status_id         2255 non-null int64
retweeted_status_user_id    2255 non-null int64
retweeted_at                180 non-null datetime64[ns]
expanded_urls               2251 non-null object
rating_numerator            2255 non-null int64
rating_denominator          2255 non-null int64
name                        2255 non-null object
doggo                       2255 non-null bool
floofer                     2255 non-null bool
pupper                      2255 non-null bool
puppo                       2255 non-null bool
dtypes: bool(4), datetime64[ns](2), int64(7), object(4)
memory usage: 255.4+ KB

## 4. Merge

Como filtramos apenas tweets que não são retweets, as colunas 'retweeted_status_id', 'retweeted_status_user_id' do dataframe we dog rates não são mais necessárias

In [853]:
df_wrd_copy.drop(columns = ['retweeted_status_id','retweeted_status_user_id'], inplace=True)

In [855]:
#Criação de dataframe master
df_prediction_copy = df_prediction_copy[df_prediction_copy.tweet_id.isin(df_wrd_copy.tweet_id)]
df_twitter_copy = df_twitter_copy[df_twitter_copy.tweet_id.isin(df_wrd_copy.tweet_id)]
df = pd.merge(df_prediction_copy, df_wrd_copy, on='tweet_id')
df = pd.merge(df, df_twitter_copy, on='tweet_id')
#criação do arquivo master
df.to_csv('twitter_archive_master.csv')

## 5. Explore

In [856]:
df

,tweet_id,image_url,image_count,first_prediction,first_confidence,first_isdog,second_prediction,second_confidence,second_isdog,third_prediction,...,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,favorite_count,retweet_count
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,NaN,0.465074,True,NaN,0.156665,True,NaN,...,https://twitter.com/dog_rates/status/666020888...,8,10,None,False,False,False,False,2537,502
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,NaN,0.506826,True,NaN,0.074192,True,NaN,...,https://twitter.com/dog_rates/status/666029285...,7,10,a,False,False,False,False,126,47
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,NaN,0.596461,True,NaN,0.138584,True,NaN,...,https://twitter.com/dog_rates/status/666033412...,9,10,a,False,False,False,False,123,43
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,NaN,0.408143,True,NaN,0.360687,True,NaN,...,https://twitter.com/dog_rates/status/666044226...,6,10,a,False,False,False,False,292,139
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,NaN,0.560311,True,NaN,0.243682,True,NaN,...,https://twitter.com/dog_rates/status/666049248...,5,10,None,False,False,False,False,107,41
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,NaN,0.651137,True,NaN,0.263788,True,NaN,...,https://twitter.com/dog_rates/status/666050758...,10,10,a,False,False,False,False,130,59
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,NaN,0.933012,False,NaN,0.045885,False,NaN,...,https://twitter.com/dog_rates/status/666051853...,2,10,an,False,False,False,False,1203,838
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,NaN,0.692517,True,NaN,0.058279,True,NaN,...,https://twitter.com/dog_rates/status/666055525...,10,10,a,False,False,False,False,429,239
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,NaN,0.962465,False,NaN,0.014594,False,NaN,...,https://twitter.com/dog_rates/status/666057090...,9,10,a,False,False,False,False,290,139
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,NaN,0.201493,True,NaN,0.192305,True,NaN,...,https://twitter.com/dog_rates/status/666058600...,8,10,the,False,False,False,False,109,57
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,NaN,0.775930,True,NaN,0.093718,True,NaN,...,https://twitter.com/dog_rates/status/666063827...,10,10,the,False,False,False,False,465,213
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,NaN,0.503672,True,NaN,0.174201,True,NaN,...,https://twitter.com/dog_rates/status/666071193...,9,10,None,False,False,False,False,142,59
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,NaN,0.260857,True,NaN,0.175382,True,NaN,...,https://twitter.com/dog_rates/status/666073100...,10,10,None,False,False,False,False,316,160
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,NaN,0.489814,True,NaN,0.404722,True,NaN,...,https://twitter.com/dog_rates/status/666082916...,6,10,None,False,False,False,False,114,44
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,NaN,0.195217,True,NaN,0.078260,True,NaN,...,https://twitter.com/dog_rates/status/666094000...,9,10,None,False,False,False,False,160,72
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,NaN,0.582330,True,NaN,0.166192,True,NaN,...,https://twitter.com/dog_rates/status/666099513...,8,10,None,False,False,False,False,150,66
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,NaN,0.298617,True,NaN,0.149842,True,NaN,...,https://twitter.com/dog_rates/status/666102155...,11,10,None,False,False,False,False,78,12
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,NaN,0.965932,False,NaN,0.033919,False,NaN,...,https://twitter.com/dog_rates/status/666104133...,1,10,None,False,False,False,False,14081,6435
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,NaN,0.086502,False,NaN,0.085547,False,NaN,...,https://twitter.com/dog_rates/status/666268910...,10,10,None,False,False,False,False,100,35
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,NaN,0.176053,True,NaN,0.111884,True,NaN,...,https://twitter.com/dog_rates/status/666273097...,11,10,None,False,False,False,False,171,76
20,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,NaN,0.914671,False,NaN,0.015250,False,NaN,...,https://twitter.com/dog_rates/status/666293911...,3,10,a,False,False,False,False,490,348
21,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,NaN,0.416669,False,NaN,0.278407,True,NaN,...,https://twitter.com/dog_rates/status/666337882...,9,10,an,False,False,False,False,193,90
22,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,NaN,0.858744,True,NaN,0.054787,True,NaN,...,https://twitter.com/dog_rates/status/666345417...,10,10,None,False,False,False,False,288,133
23,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,NaN,0.336874,True,NaN,0.147655,True,NaN,...,https://twitter.com/dog_rates/status/666353288...,8,10,None,False,False,False,False,215,71
24,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,NaN,0.996496,False,NaN,0.002402,False,NaN,...,https://twitter.com/dog_rates/status/666362758...,6,10,None,False,False,False,False,763,563
25,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,NaN,0.326467,True,NaN,0.259551,True,NaN,...,https://twitter.com/dog_rates/status/666373753...,11,10,None,False,False,False,False,185,90
26,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,NaN,0.978108,True,NaN,0.009397,True,NaN,...,https://twitter.com/dog_rates/status/666396247...,9,10,None,False,False,False,False,164,84
27,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,NaN,0.529139,True,NaN,0.244220,True,NaN,...,https://twitter.com/dog_rates/status/666407126...,7,10,a,False,False,False,False,105,40
28,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,NaN,0.404640,False,NaN,0.271485,False,NaN,...,https://twitter.com/dog_rates/status/666411507...,2,10,quite,False,False,False,False,438,323
29,666418789513326592,https://pbs.twimg.com/media/CT-YWb7U8AA7QnN.jpg,1,NaN,0.149680,True,NaN,0.148258,True,NaN,...,https://twitter.com/dog_rates/status/666418789...,10,10,Walter,False,False,False,False,122,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1992,886258384151887873,https://pbs.twimg.com/media/DEyfTG4UMAE4aE9.jpg,1,NaN,0.943575,True,NaN,0.025286,False,NaN,...,https://twitter.com/dog_rates/status/886258384...,13,10,Waffles,False,False,False,False,27474,6148
1993,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,NaN,0.999201,True,NaN,0.000361,True,NaN,...,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,False,False,True,False,20795,3130
1994,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,NaN,0.738995,False,NaN,0.139952,False,NaN,...,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,False,False,False,False,22014,4366
1995,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,NaN,0.309706,True,NaN,0.186136,True,NaN,...,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,False,False,False,False,11837,3211
1996,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,NaN,0.793469,True,NaN,0.143528,True,NaN,...,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,False,False,False,False,34501,7604
1997,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,NaN,0.733942,True,NaN,0.035029,True,NaN,...,https://twitter.com/dog_rates/status/887101392...,12,10,None,False,False,False,False,30007,5837
1998,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,NaN,0.330741,True,NaN,0.275645,False,NaN,...,https://twitter.com/dog_rates/status/887343217...,13,10,None,False,False,False,False,33073,10176
1999,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,NaN,0.809197,True,NaN,0.054950,True,NaN,...,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,False,False,False,False,67759,17778
2000,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,NaN,0.130432,False,NaN,0.029175,False,NaN,...,https://twitter.com/dog_rates/status/887517139...,14,10,such,False,False,False,False,45408,11426
2001,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,NaN,0.821664,True,NaN,0.087582,True,NaN,...,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,False,False,False,False,29617,5275
2002,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,NaN,0.995026,True,NaN,0.000932,True,NaN,...,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,False,False,False,False,21348,3415
2003,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,NaN,0.700377,True,NaN,0.166511,True,NaN,...,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,False,False,False,False,19458,3473
2004,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,NaN,0.469760,True,NaN,0.184172,True,NaN,...,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,False,False,False,False,25088,4197
2005,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,NaN,0.714719,True,NaN,0.120184,True,NaN,...,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,False,False,False,False,28583,4402
2006,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,NaN,0.626152,True,NaN,0.194742,True,NaN,...,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,False,False,False,False,24774,5255
2007,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,NaN,0.953442,True,NaN,0.013834,True,NaN,...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,False,False,False,True,14837,2199
2008,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,NaN,0.991650,True,NaN,0.002129,True,NaN,...,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,False,False,False,False,26644,4436
2009,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,NaN,0.966327,True,NaN,0.027356,True,NaN,...,https://twitter.com/dog_rates/status/889665388...,13,10,None,False,False,False,True,47218,9830
2010,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,NaN,0.377417,True,NaN,0.151317,True,NaN,...,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,False,False,False,False,27286,4869
2011,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,NaN,0.957979,True,NaN,0.013884,True,NaN,...,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,False,False,False,False,30088,7173
2012,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,NaN,0.511319,True,NaN,0.451038,True,NaN,...,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,True,False,False,False,31306,7215
2013,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,NaN,0.487574,True,NaN,0.193054,True,NaN,...,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,False,False,False,False,27299,4185
2014,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,NaN,0.566142,True,NaN,0.178406,True,NaN,...,https://twitter.com/dog_rates/status/890729181...,13,10,None,False,False,False,False,64166,18449
2015,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,NaN,0.341703,True,NaN,0.199287,True,NaN,...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,False,False,False,False,11614,2018
2016,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,NaN,0.425595,True,NaN,0.116317,True,NaN,...,https://twitter.com/dog_rates/status/891087950...,13,10,None,False,False,False,False,19864,3049
2017,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,NaN,0.555712,True,NaN,0.225770,True,NaN,...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,False,False,False,False,39555,9159
2018,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,NaN,0.170278,False,NaN,0.168086,True,NaN,...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,False,False,False,False,41379,8460
2019,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,NaN,0.716012,True,NaN,0.078253,True,NaN,...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,False,False,False,False,24570,4067
2020,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,NaN,0.323581,True,NaN,0.090647,True,NaN,...,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,False,False,False,False,32644,6143
2021,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,NaN,0.097049,False,NaN,0.085851,False,NaN,...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,False,False,False,False,38027,8316